body {
    background: url(assets/SgrB2N_background.png);
    background-position:center;
    background-size:1280px;
    background-blend-mode: overlay;
    background-color: rgb(255,255,255,0.7);
}

.reveal .slides > section {
    height: 100%;
    top: -50%; /* -58% */
    vertical-align: top;
}

div.reveal.slides {
    height: 100%;
    width: 100%;
}

.reveal .bgcred {
    text-align: right;
    font-size: 60% !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p.subtitle {
    font-size:35px;
    font-weight:bold;
    line-height:50%;
}


.reveal li {
    font-size: 90%;
    margin: 10px 0;
}

.reveal ul ul li {
    font-size: 70%;
}

.reveal ul li ul li {
    font-size: 90%;
}

.reveal .smaller {
    font-size: 80%
}

div.smaller {
    font-size: 80%
}

div.smaller2 {
    font-size: 60%
}


img.center-fit {
       padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-variant: small-caps;
}

span.image {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

span.bigimage {
    height: 120%;
    width: 120%;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #222; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #222; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #222; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #222; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #222;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


@keyframes panning {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

