body.print-pdf,
body .reveal .slide-background,
body {
    background-image: url(assets/SgrB2N_background.png);
    background-position:center;
    background-size:1280px;
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.7);
    background-repeat: no-repeat;
}
div.slides.orion section,
body.orion.print-pdf,
body.orion,
body.orion .slide-background {
    background-image: url(assets_orion/orionbackground.png);
    background-position:center;
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.9);
    background-repeat: no-repeat;
    background-size: contain;
    max-height:768px;
}


@media print {
    .reveal .slides section {
        min-height: 768px !important;
        max-height: 100% !important;
    }
    div.image,span.image {
        /* in print mode, spans/divs don't contain any non-floating
         * material, so they end up not getting displayed at all.
         * This forces them to be shown (though it might f up positioning)
         */
        position: absolute;
    }
    .print-pdf .reveal .slide-background {
        z-index: -1;
        /*background-size: 100%;*/
        background-repeat: no-repeat;
    }
}

div.image,span.image {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position-x: center;
    -webkit-print-color-adjust: exact;
}




.reveal .slides > section {
    height: 100%;
    vertical-align: top;
}

.reveal .slides > section section {
    height: 100%;
    top: 0%; /* -58% */
    vertical-align: top;
}

div.reveal.slides,div.reveal.slides.orion {
    height: 100%;
    width: 100%;
}

.reveal .bgcred {
    text-align: right;
    font-size: 60% !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p.subtitle {
    font-size:35px;
    font-weight:bold;
    line-height:50%;
}


.reveal li {
    font-size: 90%;
    margin: 10px 0;
}

.reveal ul ul li {
    font-size: 70%;
}

.reveal ul li ul li {
    font-size: 90%;
}

.reveal .smaller {
    font-size: 80%
}

div.smaller {
    font-size: 80%
}

.reveal .smaller2 {
    font-size: 60%
}

.reveal .smaller3 {
    font-size: 40%
}


img.center-fit {
       padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-variant: small-caps;
}



span.bigimage {
    height: 120%;
    width: 120%;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #222; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #222; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #222; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #222; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #222;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


@keyframes panning {
  0% {
    transform: translateY(0vh) rotateZ(360deg);
  }
  100% {
    transform: translateY(-220vh) rotateZ(360deg);
  }
}

.animate {
    overflow: visible;
    will-change: transform;
    animation-name: panning;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.reveal .bgcred {
    text-align: right;
    font-size: 60% !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.reveal .lcred {
    text-align: left;
    font-size: 55% !important;
}

.reveal .llred {
    text-align: left;
    position: absolute;
    bottom: 150px;
    left: 100px;
}

.reveal .rcred {
    text-align: right;
    font-size: 55% !important;
}

a.darkbg {
    color: rgb(0,200,200);
}

.reveal div.darkbg ,
.reveal h1.darkbg ,
.reveal h2.darkbg ,
.reveal h3.darkbg ,
.reveal h4.darkbg ,
.reveal h5.darkbg ,
.reveal h6.darkbg  {
    color: white;
}

.reveal .left {
    text-align: left;
}

