GammaVsSigmaGas_withTheory.png filter=lfs diff=lfs merge=lfs -crlf
Leroy2018_Forming0.png filter=lfs diff=lfs merge=lfs -crlf
Smilgys2017.png filter=lfs diff=lfs merge=lfs -crlf
Walker2015_Tracing0_Fig7_annotated.png filter=lfs diff=lfs merge=lfs -crlf
cores_on_continuum_peak_full_zoomin.png filter=lfs diff=lfs merge=lfs -crlf
PortegiesZwartClusterMassFunction.png filter=lfs diff=lfs merge=lfs -crlf
Geen2018_SFEvsPhotons.png filter=lfs diff=lfs merge=lfs -crlf
Geen2018_SFEvsPhotons2.png filter=lfs diff=lfs merge=lfs -crlf
moxc_contours_on_cband.png filter=lfs diff=lfs merge=lfs -crlf
moxc_contours_on_cband_withcores.png filter=lfs diff=lfs merge=lfs -crlf
moxc_points_contours_on_cband.png filter=lfs diff=lfs merge=lfs -crlf
moxc_points_contours_on_cband_withcores.png filter=lfs diff=lfs merge=lfs -crlf
moxc_points_on_cband.png filter=lfs diff=lfs merge=lfs -crlf
moxc_points_on_cband_withcores.png filter=lfs diff=lfs merge=lfs -crlf
